
h1{
    font-family: 'Harry Potter', sans-serif;
    font-weight: 400;
    font-size: 70px;
    color: burlywood; 
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 235px;
    text-shadow: 2px 2px 3px black;
}

.alohomoraB{
    background-color: burlywood;
    font-family: 'Hina Mincho', serif;
    display: flex;
    flex-wrap: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 8px 25px;
    text-align: center;
    font-size: 35px;
    border-radius: 20px;
    text-shadow: 1px 1px 2px black;
    margin: 30;
  }

#index{
    background-image: url('INDEX.png');
    background-size: cover ;

    background-attachment: fixed;
    
    background-position: center;
}

#menu{
    background-image: url('MENU.png');
    background-size: cover ;
    background-attachment: fixed;
    
    background-position: center;
}
#root{
    background-image: url('carta (1).png');
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    width: 900px;
    height: 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 20px;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;

    background-position: center;
    background-attachment: fixed;
}



