
h1{
    font-family: 'Harry Potter', sans-serif;
    font-weight: 400;
    font-size: 70px;
    color: burlywood; 
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 235px;
    text-shadow: 2px 2px 3px black;
}

.alohomoraButton{
    background-color: burlywood;
    font-family: 'Hina Mincho', serif;
    display: flex;
    flex-wrap: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 8px 25px;
    text-align: center;
    font-size: 35px;
    border-radius: 20px;
    text-shadow: 1px 1px 2px black;
    margin: 30;
  }

#index{
    background-image: url('INDEX.png');
    background-size: cover ;
    background-attachment: fixed;
    background-position: center;
}

#menu{
    background-image: url('MENU.png');
    background-size: cover ;
    background-attachment: fixed;
    background-position: center;
}

#root{
    background-image: url('carta (1).png');
    position: absolute;
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    justify-content: center;
    background-attachment:fixed;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 1024px;
    height: 800px;
    margin-top: 200px;
}

.characters{
    display:inline-table;
    line-height: 200px;
    text-align: center;
    color: black;
    margin-top: 100px;
    text-shadow: 2px 2px 3px silver;
}
